.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  grid-row: 1 / 2;
  grid-column: 2 / -1;

  display: grid;
  grid-template-rows: 1fr 2fr;

  font-family: 'Roboto', sans-serif;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.top-bar {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.search-bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}

.search-icon {
  height: 1.5rem;
  justify-self: end;
}

#search {
  background-color: #E2E8F0;
  height: 1.5rem;
  width: 32rem;
  border-radius: 999px;
  border: none;

  justify-self: start;
}

.sidebar {
  grid-row: 1 / -1;
  grid-column: 1 / 2;

  display: grid;
  grid-template-rows: 1fr 4fr 5fr;

  font-family: 'Roboto', sans-serif;
  color: white;

  background-color:#1992D4;

  padding: 0px 15px 0px;
}

.dashboard {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1.6rem;
  font-weight: 600;

  padding: 0px;
}

.dashboard-icon {
  width: 40px;
  height: auto;
}

.sidebar-main-list>ul,
.sidebar-secondary-list>ul {
  display: grid;
  gap: 15px;

  padding: 10px;
}

.sidebar-main-list>ul>li,
.sidebar-secondary-list>ul>li {
  display: flex;
  align-items: center;
  gap: 20px;
  
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.sidebar-main-list>ul>li>img,
.sidebar-secondary-list>ul>li>img {
  width: 30px;
  height: auto;
}

.main-content {
  grid-row: 2 / -1;
  grid-column: 2 / -1;

  font-family: 'Roboto', sans-serif;
}